<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Catégories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="categories-content">

  <div class="categories-wrapper">
    <div class="categories-card">

      <h1>Choisissez une catégorie</h1>
      <p class="intro">
        Sélectionnez un type de produit pour voir les articles disponibles
        du Bateau Thibault.
      </p>

      <div class="category-list">

        <ion-item button [routerLink]="['/vue50']" class="category-item">
          <ion-label>Poissons</ion-label>
        </ion-item>

        <ion-item button [routerLink]="['/vue51']" class="category-item">
          <ion-label>Crustacés</ion-label>
        </ion-item>

        <ion-item button [routerLink]="['/vue52']" class="category-item">
          <ion-label>Coquillages</ion-label>
        </ion-item>

        <ion-item button [routerLink]="['/vue53']" class="category-item">
          <ion-label>En promotion</ion-label>
        </ion-item>

      </div>

    </div>
  </div>

</ion-content>
