<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bateau Thibault : Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Bienvenue sur l'application Bateau Thibault</h2>

  <ion-list>

    <!-- Vue 1 -->
    <ion-item button routerLink="/vue1">
      <ion-label>Le gérant</ion-label>
    </ion-item>

    <!-- Vue 2 -->
    <ion-item button routerLink="/vue2">
      <ion-label>Les bateaux</ion-label>
    </ion-item>

    <!-- Vue 3 -->
    <ion-item button routerLink="/vue3">
      <ion-label>Restaurants partenaires</ionabel>
    </ion-item>

    <!-- Vue 4 -->
    <ion-item button routerLink="/vue4">
      <ion-label>Idées de recettes</ion-label>
    </ion-item>

    <!-- Vue 5 -->
    <ion-item button routerLink="/vue5">
      <ion-label>Commander des produits</ion-label>
    </ion-item>

    <!-- Panier -->
    <ion-item button routerLink="/cart">
      <ion-label>🛒 Voir le panier</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
